.game-container {
	height: 375px;
	width: 585px;
	background-color: #ffccbb;
	border-radius: 15px;
	margin: 0 auto;
	overflow: hidden;
}

.player {
	height: 25px;
	width: 25px;
	position: relative;
}

.coin {
	height: 20px;
	width: 20px;
	position: relative;
}